* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 45vw 1fr;
  height: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.content__picture {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40vw;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.content__form {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
  }
}
