.my-account-view-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  .my-account-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    width: 85%;
  }
}
