.input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 16px;

  input,
  select,
  textarea {
    font-size: 100%;
    font-family: inherit;
    background-color: white;
    border-radius: 5px;
  }

  input {
    text-indent: 10px;
  }

  textarea {
    padding: 10px 0 0 10px;
  }

  &__label {
    position: absolute;
    background-color: white;
    top: -8px;
    margin-left: 7px;
    font-size: 12px;
    color: #aaaaaa;
    pointer-events: none;
  }

  &__field {
    width: 100%;
    height: 100%;
    //border: 0.5px solid #dddddd;

    border: none;
  }

  &__error {
    font-size: 10px;
    height: 10%;
    color: red;
  }
}
