li {
  text-align: left;
  padding: 5px;

  @media (max-width: 1024px) {
    width: 90%;
  }
}

.last-list-element {
  border-top: 1px solid #bbbbbb;
  padding-top: 10px;
}

.list-buttons-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
