.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;

  label {
    margin-bottom: 2px;
  }

  input,
  textarea,
  select {
    text-indent: 5px;
    font-size: 12px;
    border: 1px solid #dddddd;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: 0;
  }
}

.form__field-input {
  width: 100%;
  height: 30px;
}

.form__field-textarea {
  width: 100%;
  height: 100px;
}

.form__field-photos {
  width: 100%;
  height: 100px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;

  button {
    width: 70px;
    height: 30px;
    color: #ffffff;
    background-color: #2d9cdb;
    border-radius: 3px;
  }

  button:hover {
    cursor: pointer;
  }

  button:focus {
    outline: 0;
  }
}
