.userNavIcon {
  &__list {
    position: absolute;
    display: none;
    top: 10.2vh;

    ul {
      list-style: none;
      text-decoration: none;
      padding: 15px;
    }
  }

  &__triangle {
    position: absolute;
    display: none;
    height: 25px;
    width: 100%;

    &__content {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      width: 30px;
      margin-left: 0 !important;
      background-color: #eeeeee;
    }
  }
}

.userNavIcon:hover {
  .userNavIcon__list,
  .userNavIcon__triangle {
    display: flex;
  }
  .userNavIcon__list {
    background-color: #eeeeee;
  }
}

.userNavIcon__list:hover {
  display: flex;
  background-color: #eeeeee;
}
