.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  border: 0.5px solid #dddddd;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;

  &__info {
    padding: 5px;
    text-align: center;
  }

}

