body,
html {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  min-height: 10vh;
  width: 100%;

  a {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 1024px) {
    justify-content: space-between;
  }
}

.navigation__logo {
  text-transform: uppercase;

  @media (max-width: 1024px) {
    margin-left: 10%;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  text-decoration: none;
  width: 40%;

  @media (max-width: 1024px) {
    position: absolute;
    top: 0vh;
    height: 100vh;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 250px;
    transform: translateX(100vw);
    background-color: #eeeeee;
  }
}

.navigation__list--active {
  position: absolute;
  top: 0vh;
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 250px;
  transform: translateX(0px);
}

.navigation__list--active .navigation__list__item:first-of-type {
  margin-top: 90px;
}

.navigation__list__item {
  list-style: none;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 1024px) {
    margin-top: 15px;
    height: 5%;
    border-bottom: 1px solid #cccccc;
    width: 100%;
  }
}

.navigation__list--active,
.navigation__hamburger {
  transition: transform 0.2s 0.2s ease-in-out;
}

.navigation__hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 40px;

  @media (max-width: 1024px) {
    display: block;
  }
}

.navigation__hamburger__box {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  padding: 20px;
}

.navigation__hamburger__line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
  transition: background-color 0.1s 0.2s ease-in-out;
}

.navigation__hamburger__line::before,
.navigation__hamburger__line::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.navigation__hamburger__line::before {
  top: -10px;
}

.navigation__hamburger__line::after {
  top: 10px;
}

.navigation__hamburger--active {
  transform: translateX(-165px);
}

.navigation__hamburger--active .navigation__hamburger__line {
  background-color: transparent;
}

.navigation__hamburger--active .navigation__hamburger__line::before {
  transform: translateY(10px) rotate(45deg);
}

.navigation__hamburger--active .navigation__hamburger__line::after {
  transform: translateY(-10px) rotate(-45deg);
}
