$edge: 1024px;

@mixin mobile {
  @media (max-width: #{$edge}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$edge}) {
    @content;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  align-items: center;
  min-height: 10vh;
  width: 95%;
  max-width: 1300px;

  @media (min-width: 1024px) {
    width: 85%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  @include mobile {
    justify-content: space-between;
  }

  &__logo {
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    min-height: 10vh;
    width: 50%;
    font-size: 14px;
    text-transform: uppercase;

    @include mobile {
      position: absolute;
      top: 0vh;
      height: 100vh;
      display: flex;
      right: 0;
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      width: 250px;
      transform: translateX(100vw);
      background-color: #eeeeee;
    }

    &--active {
      top: 0vh;
      height: 100vh;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      width: 250px;
      transform: translateX(0px);
      transition: transform 0.2s 0.2s ease-in-out;
      z-index: 1;
    }

    &__item {
      cursor: pointer;
      margin-left: 20px;

      @include mobile {
        margin: 0 0 25px 0;
      }
    }
  }

  &__hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s 0.2s ease-in-out;
    z-index: 1;

    @include mobile {
      display: block;
    }

    &--active {
      transform: translateX(-165px);
    }

    &__box {
      position: relative;
      display: block;
      width: 40px;
      height: 24px;
      padding: 20px;
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: black;
      left: 0;
      transition: background-color 0.1s 0.2s ease-in-out;

      &::before {
        top: -10px;
      }

      &::after {
        top: 10px;
      }

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
        left: 0;
        transition: transform 0.2s 0.2s ease-in-out;
      }
    }
  }
}

.navigation__list--active .navigation__list__item:first-of-type {
  margin-top: 90px;
}

.navigation__hamburger--active .navigation__hamburger__line {
  background-color: transparent;
}

.navigation__hamburger--active .navigation__hamburger__line::before {
  transform: translateY(10px) rotate(45deg);
}

.navigation__hamburger--active .navigation__hamburger__line::after {
  transform: translateY(-10px) rotate(-45deg);
}
