.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__field {
    width: 100%;

    input {
      height: 35px;
      border-radius: 5px 0 0 5px !important;
    }
  }

  &__buttons {
    button {
      border-radius: 0 5px 5px 0 !important;
      background-color: #2d9cdb;
      font-weight: 500;
      padding: 10px;
      color: #ffffff !important;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
